* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8C0375;
    padding: 1rem;
}

.contenido__principal {
    display: flex;
    justify-content: center;
    padding: 5rem;
    gap: 2rem;
}