* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D04D9;
    padding: 1rem;
}

.contenido__principal {
    display: flex;
    justify-content: center;
    padding: 5rem;
    gap: 2rem;
}

.sub__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-height: 50%;
    overflow: auto;
}

.card__contenido {
    background-color: #5D04D9;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}